body {
    background-color: cadetblue;
    border-color: black;
}

a {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: darkslategray;
    color: white;
    text-decoration: none;

}

.arti {
    color: blue;
}

li {
    list-style-type: disc;
    color: darkslategrey;
}

img {
    height: 500px;
    width: 800px;
}



dt {
    color: rgb(106, 20, 20);
}

dd {
    color: rgb(238, 105, 105);
}

div{
    font-size: large;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}